<!-- <div [ngSwitch]="userRole">
  <div *ngSwitchCase="userRoles.admin"><app-room></app-room></div>
  <div *ngSwitchCase="userRoles.user">Welcome User</div>
  <div *ngSwitchDefault>You are not authorize to view this page</div>
</div> -->
<!-- 
<app-container>
  <app-room></app-room>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1>
</app-container>

<h1 #name></h1>

<div>
  <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<app-app-nav></app-app-nav>

<!-- <router-outlet></router-outlet> -->
